/* CSS COLOR */
/* **************************************************************** */

/* VARIABLES */
:root{
    --gris_menu: #5e5e5e;
    --color_hover: #cdcdcd;
    --azul_link: #414FD0;
}


/* ************************************* */
a{
    color: white;
}

a:hover{
    color: var(--color_hover);
}

.header{
    background-color: var(--gris_menu);
}

#click:checked ~ .menu_desktop{
    background-color: var(--gris_menu);
}

main h1{
    color: var(--gris_menu);
}

.texto{
    color: var(--gris_menu);
}

.submit{
    color: white;
    background-color: #385876;
}

.submit:hover{
    color:#b0b0b0;
}

.link{
    color: var(--azul_link);
}

.contacto{
    color: var(--gris_menu);
}