/* CSS LAYOUT */
/* **************************************************************** */

.header{
    display: flex;
    height: 50px;
    width: 100vw;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}

.menu_desktop{
    display: none;
}

#click{
	display: none;
}

.contenedor_banner{
    width: 100vw;
}

.banner{
    width: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    font-size: 28px;
    padding-top: 15px;
}

.texto{
    width: 65vw;
    text-align: center;
    line-height: 23px;
}

.titulo.login{
    padding-top: 90px;
}

.input{
    width: 250px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px;
}

.submit{
    width: 100px;
    height: 36px;
    border-radius: 5px;
    border: 0.3px;
}

.contenedor_login{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 150px;
    align-items: center;
    justify-content: space-between;
}

.contenedor_registro{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 325px;
    align-items: center;
    justify-content: space-between;
}