/* CSS MEDIA QUERY */
/* **************************************************************** */

/* ****************** */

@media only screen and (max-width: 1023px){
    #click:checked ~ .menu_desktop{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50px;    
        left: 0;
        padding-top: 50px;
    }

    .links{
        display: flex;
        height: 40vh;
        width: 50vw;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 0px;
        font-size: 26px;
    }
}


@media only screen and (min-width: 1024px){
    .header{
        flex-direction: row-reverse;
    }

	.menu_desplegable{
		display: none;
	}

	.menu_desktop{
		display: block;
        flex-grow: 0.35;
	}

	.links{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
        font-size: 16px;

	} 
    
    label{
		display: none;
	}
}

@media only screen and (min-width: 768px){
    .input{
        width: 420px;
    }
}

@media only screen and (min-width: 768px), screen and (max-width: 1023px)
{
    
}